<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>django channels chatroom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/main.css' %}">
    <script src="{% static 'js/main.js' %}"  ></script>
</head>

<body>
    <textarea id='chat-log' cols='100' rows='20'></textarea><br />
    <input type='text' id='chat-message-input' size='100'><br />
    <input type='button' id='chat-message-submit' value='send'>

    <script>
        console.log('in body script running')
    </script>
</body>
<script>
    console.log('testing outside body scipt')
</script>
</html>
